@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-eyinterstate);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-eyinterstate), Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* 隐藏垂直滚动条但保留滚动功能（跨浏览器） */
html, body {
  /* Firefox */
  scrollbar-width: none;
  /* IE/Edge (旧版) */
  -ms-overflow-style: none;
}
/* WebKit 浏览器 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
